<p-toolbar>
  <div class="p-toolbar-group-left">
    <p-menubar [model]="generalItems">
    </p-menubar>
  </div>
  <div class="p-toolbar-group-right p-justify-between">
    <p-progressSpinner *ngIf="isLoading$ | async"></p-progressSpinner>
    <div>
      <span *ngIf="(auth$ | async)" class="p-m-2">UID : {{uid}}</span>
      <span *ngIf="(auth$ | async).isUser()" class="pi yde-theme pi-user"></span>
      <span *ngIf="(auth$ | async).isAdmin()" class="pi yde-theme pi-user-plus"></span>
    </div>
    <p-button type="text" (click)="display = true" icon="pi pi-cog"></p-button>
  </div>
</p-toolbar>
<p-sidebar [(visible)]="display" position="right">
  <app-utils-view (dismiss)="onDismiss($event)"></app-utils-view>
</p-sidebar>

