<div class="p-field p-grid">
  <label for="typeOfSolution" class="p-col-fixed" >Etat de l'application : </label>
  <div class="p-col">
    <output id="typeOfSolution" class="p-outputtext p-component">{{itSolution.typeOfSolution}}</output>
  </div>
</div>
<div class="p-field p-grid">
  <label for="mode de sourcing" class="p-col-fixed" >Date de début de vie : </label>
  <div class="p-col">
    <output id="mode de sourcing" class="p-outputtext p-component">{{itSolution.labelOfSourcingMode}}</output>
  </div>
</div>
<div class="p-field p-grid">
  <label for="nom du progiciel" class="p-col-fixed" >Date de dernière mise à jour : </label>
  <div class="p-col">
    <output id="nom du progiciel" class="p-outputtext p-component">{{itSolution.nameOfFirmware}}</output>
  </div>
</div>

