<div class="p-field p-grid">
  <label for="typeOfSolution" class="p-col-fixed" style="width:250px">Etat de l'application : </label>
  <div class="p-col">
    <output id="typeOfSolution"  class="p-outputtext p-component" >{{application.itSolution.typeOfSolution}}</output>
  </div>
</div>
<div class="p-field p-grid">
  <label for="mode de sourcing" class="p-col-fixed" style="width:250px">Date de début de vie : </label>
  <div class="p-col">
    <output id="mode de sourcing"  class="p-outputtext p-component" >{{application.itSolution.labelSourcingMode}}</output>
  </div>
</div>
<div class="p-field p-grid">
  <label for="nom du progiciel" class="p-col-fixed" style="width:250px">Date de dernière mise à jour : </label>
  <div class="p-col">
    <output id="nom du progiciel"  class="p-outputtext p-component" >{{application.itSolution.nameOfFirware}}</output>
  </div>
</div>

