<div class="p-field p-grid">
  <label for="privilegeInformation" class="p-col-fixed" style="width:250px">Information privilegié : </label>
  <div class="p-col">
    <output id="privilegeInformation"  class="p-outputtext p-component" >{{application.criticity.privilegeInformation}}</output>
  </div>
</div>
<div class="p-field p-grid">
  <label for="serviceClass" class="p-col-fixed" style="width:250px">Classe de service : </label>
  <div class="p-col">
    <output id="serviceClass"  class="p-outputtext p-component" >{{application.criticity.serviceClass}}</output>
  </div>
</div>
<div class="p-field p-grid">
  <label for="personalData" class="p-col-fixed" style="width:250px">Données personnels présentes : </label>
  <div class="p-col">
    <output id="personalData" class="p-outputtext p-component" >{{application.criticity.personalData}}</output>
  </div>
</div>
<div class="p-field p-grid">
  <label for="aviability" class="p-col-fixed" style="width:250px">Disponibilité : </label>
  <div class="p-col">
    <output id="aviability"  class="p-outputtext p-component" >{{application.criticity.aviability}}</output>
  </div>
</div>
<div class="p-field p-grid">
  <label for="rpo" class="p-col-fixed" style="width:250px">RPO : </label>
  <div class="p-col">
    <output id="rpo"  class="p-outputtext p-component" >{{application.criticity.rpo}}</output>
  </div>
</div>
<div class="p-field p-grid">
  <label for="rto" class="p-col-fixed" style="width:250px">RTO : </label>
  <div class="p-col">
    <output id="rto"  class="p-outputtext p-component" >{{application.criticity.rto}}</output>
  </div>
</div>
