<p-table [value]="notes" [scrollable]="true" scrollHeight="150px">
  <ng-template pTemplate="caption">
    <div class="p-notes p-d-flex p-jc-between">
      Note sur l'application
      <span>

        <button pButton pRipple label="Note" icon="pi pi-plus" class="p-button-raised p-button-rounded p-button-sm"
                (click)="openNew()"></button>
      </span>

    </div>
  </ng-template>

  <ng-template pTemplate="header">
    <tr class="p-col-title">
      <th>Titre</th>
      <th>Date de création</th>
      <th>Description</th>
      <th></th>
    </tr>
  </ng-template>
  <ng-template class="p-col-tab" pTemplate="body" let-note>
    <tr class="p-col-data">
      <td>{{note.noteTitle}}</td>
      <td>{{note.noteCreationDate | date: 'dd / MM / yyyy'}}</td>
      <td>{{note.noteContent.length > 15 ? note.noteContent.substring(0, 10) + ' .....' : note.noteContent}}</td>
      <td>
        <span>
        <p-button (click)="showNote(note)" icon="pi pi-search"></p-button>

        <p-dialog *ngIf="$noteDisplay" header="{{$noteDisplay.noteTitle}}" [(visible)]="displayNote"
                  [style]="{width: '100vw'}"  [baseZIndex]="100" >
          <p>{{$noteDisplay.noteContent}}</p>

        </p-dialog>
         </span>

        <span>
        <button pButton pRipple icon="pi pi-pencil" class="p-button-raised p-button-rounded p-button-sm"
                (click)="editNote(note)"></button>


         </span>

      </td>
    </tr>
  </ng-template>
</p-table>


<p-dialog [(visible)]="noteDialog" [style]="{width: '450px'}" header="Nouvelle note" [modal]="true"
          styleClass="p-fluid">
  <ng-template pTemplate="content">

    <div class="p-field">
      <label for="title">Titre</label>
      <input type="text" pInputText id="title" [(ngModel)]="note.noteTitle" required autofocus/>
      <small class="p-invalid" *ngIf="submitted && !note.noteTitle">Le titre est obligatoire.</small>
    </div>
    <div class="p-field">
      <label for="description">Description</label> <br>
      <textarea id="description" [(ngModel)]="note.noteContent" required rows="5" cols="55"></textarea>
    </div>

  </ng-template>

  <ng-template pTemplate="footer">
    <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
    <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveNote()"></button>
  </ng-template>
</p-dialog>
<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
