<p-toolbar>
  <div class="p-toolbar-group-left">
    <p-button label="YDEApp" icon="pi"></p-button>
  </div>

  <div class="p-toolbar-group-right">
    <p-button icon="pi pi-search"></p-button>
    <p-button icon="pi pi-calendar" styleClass="p-button-success"></p-button>
    <p-button icon="pi pi-times" styleClass="p-button-danger"></p-button>
  </div>
</p-toolbar>
<div class="p-grid p-ai-md-stretch vertical-container">
  <div class="p-col-2">
    <div class="box box-stretched">
      <p-panelMenu [model]="items" ></p-panelMenu>
    </div>
  </div>
  <div class="p-col-10">
    <p-toolbar>
      <div class="p-toolbar-group-right">
        <p-inputSwitch  [(ngModel)]="val"></p-inputSwitch>
      </div>
    </p-toolbar>
    <div class="box box-stretched"><app-organization-view [horizontal]="val"></app-organization-view></div>
  </div>
</div>
