<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h2>YDEApp: une cartographie de vos applications</h2>
      <p>Mis à jour : {{ lastUpdate | async | date: 'EEEE d MMMM yyyy' | lowercase }}</p>
      <ul class="list-group">
        <app-my-posts *ngFor="let post of posts"
                      [postTitle]="post.title"
                      [postContent]="post.content"
                      [postDateCreate]="post.dateCreation"
                      [postNbClick]="post.nbClick"></app-my-posts>
      </ul>
    </div>
  </div>
</div>
