.p-col-fixed{
  font-weight : bold;
  font-size: small;
  padding-left: 20px;
}
.p-outputtext{
  font-size: small;
}

.p-mr-2{
  font-weight: bold;
  text-decoration: underline;
  margin-bottom: 1.5rem;
  font-size: large;
  padding-left: 10px;
}
