<div class="p-mr-2">Responsable d'application</div>
<div class="p-field p-grid">
  <label for="uid" class="p-col-fixed" style="width:250px">UID : </label>
  <div class="p-col">
    <output id="uid"  class="p-outputtext p-component" >{{application.personne.uid}}</output>
  </div>
</div>
<div class="p-field p-grid">
  <label for="firstname" class="p-col-fixed" style="width:250px">Prénom : </label>
  <div class="p-col">
    <output id="firstname"  class="p-outputtext p-component" >{{application.personne.firstName}}</output>
  </div>
</div>
<div class="p-field p-grid">
  <label for="lastname" class="p-col-fixed" style="width:250px">Nom du responsable : </label>
  <div class="p-col">
    <output id="lastname"  class="p-outputtext p-component" >{{application.personne.lastName}}</output>
  </div>
</div>
