<div class="p-mr-2">Responsable d'application</div>
<div class="p-field p-grid">
  <label for="uid" class="p-col-fixed">UID : </label>
  <div class="p-col">
    <output id="uid"  class="p-outputtext p-component" >{{application.responsable.uid}}</output>
  </div>
</div>
<div class="p-field p-grid">
  <label for="lastname" class="p-col-fixed" >Nom : </label>
  <div class="p-col">
    <output id="lastname"  class="p-outputtext p-component" >{{application.responsable.lastName}}</output>
  </div>
</div>
<div class="p-field p-grid">
  <label for="firstname" class="p-col-fixed" >Prénom : </label>
  <div class="p-col">
    <output id="firstname"  class="p-outputtext p-component" >{{application.responsable.firstName}}</output>
  </div>
</div>
