<p-toolbar>
  <ng-template pTemplate="left">
    <div class="p-d-flex p-ai-center p-jc-between">
      <h3 class="p-m-3">Chargement d'une organization</h3>
    </div>
  </ng-template>
  <ng-template pTemplate="right">
    <button pButton pRipple icon="pi pi-times" class="p-button-icon" (click)="stopLoadOrganization()"></button>
  </ng-template>
</p-toolbar>
<p-fileUpload name="fluxRefi" customUpload="true" (uploadHandler)="onUpload($event)"
              multiple="single" maxFileSize="10000000" fileLimit="1" [headers]="httpHeaders">
  <ng-template pTemplate="content">
    <ul *ngIf="uploadedFiles === null">
      <li *ngFor="let file of uploadedFiles">{{file.name}} - {{file.size}} bytes</li>
    </ul>
  </ng-template>
</p-fileUpload>
