<div class="p-grid p-ai-md-stretch vertical-container">
  <div class="p-col-12">
    <p-toolbar class="p-m-2">
      <div class="p-toolbar-group-left">
        <p-dropdown [options]="roots$ | async" [(ngModel)]="selectedRoot" optionLabel="name"
                    (onChange)="rootChange()"></p-dropdown>
      </div>
      <div class="p-toolbar-group-right">
        <p-inputSwitch [(ngModel)]="modeOrganization"></p-inputSwitch>
      </div>
    </p-toolbar>
    <div class="p-grid p-m-2">
      <p-scrollPanel class="p-col p-shadow-2" [style]="{width: '100%', height: '700px'}">
        <app-tree-application-view (showApplication)="driveShowApplication($event)"
                                   [horizontal]="modeOrganization"></app-tree-application-view>
      </p-scrollPanel>
      <div *ngIf="showApplicationView" class="p-col-4">
        <app-application ></app-application>
      </div>
    </div>
  </div>
</div>

