<div class="p-grid ">
  <div class="p-col-8">
    <div class="box p-shadow-2">
      <app-list-flux-refi></app-list-flux-refi>
    </div>
  </div>
  <div class="p-col-4">
    <div class="p-grid p-flex-column">
      <div class="p-col">
        <div class="box p-shadow-2">
          <app-upload-flux></app-upload-flux>
        </div>
      </div>
      <div class="p-col">
        <div class="box p-shadow-2">
          <app-flux-detail></app-flux-detail>
        </div>
      </div>
    </div>
  </div>
</div>
