/* You can add global styles to this file, and also import other style files */
.yde-theme1 {
  background-image: url("style/bootstrap4-light-blue.svg") !important;
  background-size: 30px 30px;
  background-repeat: no-repeat;
  height: 30px;
  width: 40px;
}

.yde-theme2 {
  background-size: 30px 30px;
  background-repeat: no-repeat;
  height: 30px;
  width: 40px;
  background-image: url("style/bootstrap4-light-purple.svg") !important;
}

.yde-theme3 {
  background-size: 30px 30px;
  background-repeat: no-repeat;
  height: 30px;
  width: 40px;
  background-image: url("style/bootstrap4-dark-blue.svg") !important;
}

.yde-theme4 {
  background-size: 30px 30px;
  background-repeat: no-repeat;
  height: 30px;
  width: 40px;
  background-image: url("style/bootstrap4-dark-purple.svg") !important;
}

