/* You can add global styles to this file, and also import other style files */
.yde-theme {
  background-size: 20px 20px;
  background-repeat: no-repeat;
  height: 20px;
  width: 20px;
}

.yde-theme-bootstrap4-light-blue {
  background-image: url("style/bootstrap4-light-blue.svg");
}

.yde-theme-bootstrap4-light-purple {
  background-image: url("style/bootstrap4-light-purple.svg");
}

.yde-theme-bootstrap4-dark-blue {
  background-image: url("style/bootstrap4-dark-blue.svg");
}

.yde-theme-bootstrap4-dark-purple {
  background-image: url("style/bootstrap4-dark-purple.svg");
}

.yde-theme-md-light-indigo {
  background-image: url("style/md-light-indigo.svg");
}

.yde-theme-md-light-deeppurple {
  background-image: url("style/md-light-deeppurple.svg");
}

.yde-theme-md-dark-indigo {
  background-image: url("style/md-dark-indigo.svg");
}

.yde-theme-md-dark-deeppurple {
  background-image: url("style/md-dark-deeppurple.svg");
}

.yde-logo {
  background-image: url("style/yde-logo.png");
}

.yde-admin {
  background-image: url("style/icons8-paramètres-administrateur-homme-64.png");
}

.yde-hierarchie-first {
  background-image: url("style/icons8-stacked-organizational-chart-highlighted-first-node-80.png");
}

.yde-hierarchie-parent {
  background-image: url("style/icons8-stacked-organizational-chart-highlighted-parent-node-80.png");
}

.yde-application {
  background-image: url("style/icons8-template-64.png");
}
